/* TODO 
 * this looks good for mobile and media queries at certain length 
 * 
 */
* { outline: 0px solid red; }
html, body {margin:0px; padding:0px; background-color: #F9D1D1; }
a {text-decoration:none; color: black;}
.mdx{
    margin:auto;
}

.content {
    padding:10px;
    height:fit-content;
    min-height:90vh;
    margin:5px;
    display: flex;
    /*main axis*/
    justify-content:center;
    justify-self:center;
    /*cross axis*/
    align-items:center;
}
@media only screen and (max-width:600px) {
}

.nav {
    overflow:hidden;
    position:fixed; 
    bottom:0;
    width:100%;
    color: white;
}

.mdx>* { outline:0; }
